<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderCollectionServlet</servlet-name>
        <servlet-class>Controller.RenderCollectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopController</servlet-name>
        <servlet-class>Controller.ShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>Controller.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>Controller.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>Controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>Controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCartServlet</servlet-name>
        <servlet-class>Controller.ShowCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessCartServlet</servlet-name>
        <servlet-class>Controller.ProcessCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderAccountServlet</servlet-name>
        <servlet-class>RenderAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>Controller.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderProductServlet</servlet-name>
        <servlet-class>RenderProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>EditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProductServlet</servlet-name>
        <servlet-class>LoadProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>Controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>Controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>Controller.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadServlet</servlet-name>
        <servlet-class>Controller.LoadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountServlet</servlet-name>
        <servlet-class>Controller.SearchAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccountServlet</servlet-name>
        <servlet-class>Controller.AddAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>Controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrderInfo</servlet-name>
        <servlet-class>Controller.ListOrderInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderAccount</servlet-name>
        <servlet-class>RenderAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderOrderServlet</servlet-name>
        <servlet-class>Controller.RenderOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessOrder</servlet-name>
        <servlet-class>Controller.ProcessOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyNowServlet</servlet-name>
        <servlet-class>Controller.BuyNowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessProductDetailServlet</servlet-name>
        <servlet-class>Controller.ProcessProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrderAdminServlet</servlet-name>
        <servlet-class>ListOrderAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOrderAdminServlet</servlet-name>
        <servlet-class>EditOrderAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <servlet-class>UpdateStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderOrderByStatus</servlet-name>
        <servlet-class>RenderOrderByStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>Controller.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyBookingServlet</servlet-name>
        <servlet-class>Controller.MyBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffRenderServlet</servlet-name>
        <servlet-class>Controller.StaffRender</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderStatisticServlet</servlet-name>
        <servlet-class>RenderStatisticServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editBooking_Staff</servlet-name>
        <servlet-class>editBooking_Staff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentScheduleServlet</servlet-name>
        <servlet-class>Controller.AppointmentScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CateMyOrder</servlet-name>
        <servlet-class>Controller.CateMyOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderCollectionServlet</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopController</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/productDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessCartServlet</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/delete-account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/delete-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/add-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProductServlet</servlet-name>
        <url-pattern>/loadproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/updateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadServlet</servlet-name>
        <url-pattern>/LoadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccountServlet</servlet-name>
        <url-pattern>/SearchAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccountServlet</servlet-name>
        <url-pattern>/AddAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrderInfo</servlet-name>
        <url-pattern>/Liststatistic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderAccount</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderOrderServlet</servlet-name>
        <url-pattern>/myOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessOrder</servlet-name>
        <url-pattern>/processOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyNowServlet</servlet-name>
        <url-pattern>/buy-now</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessProductDetailServlet</servlet-name>
        <url-pattern>/process-product-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrderAdminServlet</servlet-name>
        <url-pattern>/listOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOrderAdminServlet</servlet-name>
        <url-pattern>/editOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <url-pattern>/updateStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderOrderByStatus</servlet-name>
        <url-pattern>/orderStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyBookingServlet</servlet-name>
        <url-pattern>/mybooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffRenderServlet</servlet-name>
        <url-pattern>/bookingS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderStatisticServlet</servlet-name>
        <url-pattern>/statistic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editBooking_Staff</servlet-name>
        <url-pattern>/editbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentScheduleServlet</servlet-name>
        <url-pattern>/AppointmentSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CateMyOrder</servlet-name>
        <url-pattern>/CateMyOrder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            600
        </session-timeout>
    </session-config>
</web-app>
